@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
html{
	font-size: 10px;
	font-family: 'Montserrat' ,sans-serif;
	scroll-behavior: smooth;
}

a{
	text-decoration: none;
}
.container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

/*header*/
#header{
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header{
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.10);
	transition: .3s ease background-color;
}
#brand{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#header .nav-bar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul{
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active{
	left: 20%;
}
#header .nav-list ul a{
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after{
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgb(240, 248n, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease lette-spacing;
}
#header .nav-list ul li:hover a::after{
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a{
	color: crimson;

}
#header .hamburger{
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 1px solid white;
	border-radius: 50%;
	
	position: relative;
	display: flex;
	align-items: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
}
#header .hamburger:after{
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation:hamberger_puls 1s ease infinite;

	
	
}
#header .hamburger .bar{
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;

}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
content: '';
position: absolute;
height: 100%;
width: 100%;
left: 0;
background-color: white;
transition: .3s ease;
transition-property: top,bottom;
}
#header .hamburger .bar::after{
	top: 8px;
}
#header .hamburger .bar::before{
	bottom: 8px;
}
#header .hamburger.active .bar::before
{

bottom: 0;
}
#header .hamburger.active .bar::after{
	top: 0;
}
/*end header*/

/*Coffee section*/
#coffee{
	background-image: url(./images/coffee.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#coffee::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: -7;
	z-index: -1;
}
#coffee .coffee{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: 50px;
}
#coffee h1{
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: rgb(12, 11, 11);
	
}
#coffee p{
	font-size: 1.5rem;
	color: rgb(12, 11, 11);
}
#coffee .cta{
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: -3s ease;
	transition-property: background-color, color;
	width: fit-content;
	
	
}
#coffee.cta:hover{
	color: white;
	background-color: crimson;
}

/*End Coffee section*/

/*Free section*/
#free{

}
#free .free{
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#free .section-title{
	font-size: 4rem;
	font-weight: 500;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}

#free .free-top p{
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
#free .free-bottom{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin-top: 20px;

}
#free .free-bottom .icon{
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#free .free-item{
	flex-basis: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
}
#free .free-item p{
	color: black;
	text-align: center;
	
}
#free .free-item h2{
	font-size: 2rem;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 500;
}
/*End Free section*/

/*Herald section*/
#herald{

}
#herald .herald{
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#herald .herald-section-title{
	font-size: 4rem;
	font-weight: 500;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}

#herald .herald-top p{
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
#herald .herald-bottom{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin-top: 20px;

}
#herald .herald-bottom .img{
	height: 200px;
	width: 350px;
	margin-bottom: 20px;
	object-fit: cover;
}
#herald .herald-item{
	flex-basis: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
}
#herald .herald-item p{
	color: black;
	text-align: center;
}
#herald .herald-item h2{
	font-size: 2rem;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#herald .herald-item img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#herald .hbtn{
	display: inline-block;
	padding: 10px 30px;
	color: black;
	background-color: transparent;
	border: 0px solid crimson;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 10px;
	transition: -3s ease;
	transition-property: background-color, color;
	width: fit-content;
	font-weight: bold;
	
	
}
#herald.hbtn:hover{
	color: white;
	background-color: crimson;
}

#herald{
	background-image: url(./images/heraldback.jpg);
	background-size: cover;
	background-position: bottom center;
	position: relative;
	z-index: 1;
}
#herald::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: -7;
	z-index: -1;
}
/*End Herald section*/

/* Bestcoffee Section*/

#bestcoffee{
	background-image: url(./images/best.jpg);
	background-size: cover;
}

/*End Bestcoffee Section*/

/*count section*/
#count{

}
#count .count{
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#count .count-bottom{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin-top: 10px;

}
#count .count-item{
	flex-basis: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	
}
#count .count-bottom .icon{
	height: 80px;
	width: 80px;
	margin-bottom: 10px;
}

#count .count-section-title{
	font-size: 4rem;
	font-weight: 300;
	color: rosybrown;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
	font-weight: 500;
}
#count .count-item h2{
	font-size: 2rem;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 500;
}
#count .count-item p{
	color: black;
	text-align: center;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}

/*End count section*/
/*Online section*/
#online{
	background-image: url(./images/heraldback.jpg);
	background-size: cover;
	background-position: top left;
	position: relative;
	z-index: 1;
}
#online::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: -7;
	z-index: -1;
}

#online .online{
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#online .online-section-title{
	font-size: 4rem;
	font-weight: 500;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}

#online .online-top p{
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
#online .online-bottom{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin-top: 20px;

}
#online .online-bottom .icon{
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#online .online-item{
	flex-basis: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
}
#online .online-item img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
#online .online-item h3{
	font-size: 1.8rem;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 200;
	text-align: center;
	
}
#online .online-item h2{
	font-size: 2rem;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 500;
}
/*End Online section*/

/*gallery*/

/*End gallery*/
@keyframes hamberger_puls {
	0%{
		opacity: 1;
		transform: scale(1);
	}
	100%{
		opacity: 0;
		transform: scale(1.4);
	}
	
	
}
@media only screen and (min-width:1200px){
	#header .hamburger{
		display: none;
	}
	#header .nav-list ul{
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li{
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;

	}
	#header .nav-list ul a::after{
		display: none;
	}

	#free .free-bottom .free-item{
		flex-basis: 22%;
		margin: 1.5%;
	}
}
